<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.daidalos.afiledialog">

    <application android:allowBackup="true"
        android:supportsRtl="true">

		<activity android:name="ar.com.daidalos.afiledialog.FileChooserActivity" />
    </application>

</manifest>
